@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-bg-Secondary p-3">
        <figure class="text-center">
            <blockquote class="blockquote">
    <h1 class="text-bg-dark p-3" >Welcome </h1>
            </blockquote>
            <figcaption class="blockquote-footer">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                </figcaption>
        </figure>
</div>
