@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-bg-Secondary p-3">
    <figure class="text-center">
        <blockquote class="blockquote">
<h1>@ViewData["Title"]</h1>
        </blockquote>
        <figcaption class="blockquote-footer">

<p>Use this page to detail your site's privacy policy.</p>
        </figcaption>
    </figure>
</div>
