html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#productsContainer {
    width: 100%;
    background-color: #376080;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#productsTable_filter {
    height: 40px;
    width: 275px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 5px;
    justify-items: center;
    align-content: center;
    padding-right: 12px;
    padding-top: 4px
}
#productsTable_length {
    height: 30px;
    width: 150px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 5px;
    font-size: small;
    padding-left: 10px;
    padding-top: 4px
}
.nav-item{
    text-align:center;
    width:20%;
    margin:20px;
    border-color:aliceblue;
    background-color:#454546;
    border-radius:20px;
    
}
container p-4 {
    width: 100%;
}
}
.col-8{
    margin:20px
}
.col-4 {
    width:50%;
    padding-left:220px;
    text-align:center;
}

/*SUPPLIER*/
#suppliersContainer {
    width: 110%;
    background-color: #376080;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#suppliersTable_filter {
    height: 40px;
    width: 275px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 5px;
    justify-items: center;
    align-content: center;
    padding-right: 12px;
    padding-top: 4px
}

#suppliersTable_length {
    height: 30px;
    width: 150px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 5px;
    font-size: small;
    padding-left: 10px;
    padding-top: 4px
}

/*CUSTOMERS*/
#customersContainer {
    width: 105%;
    background-color: #376080;
    border-radius: 5px;
    margin: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#customersTable_filter {
    height: 40px;
    width: 275px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 5px;
    justify-items: center;
    align-content: center;
    padding-right: 12px;
    padding-top: 4px
}

#customersTable_length {
    height: 30px;
    width: 150px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 5px;
    font-size: small;
    padding-left: 10px;
    padding-top: 4px
}

/*ORDERS*/
#ordersContainer {
    width: 100%;
    background-color: #376080;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#ordersTable_filter {
    height: 40px;
    width: 275px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 5px;
    justify-items: center;
    align-content: center;
    padding-right: 12px;
    padding-top: 4px
}

#ordersTable_length {
    height: 30px;
    width: 150px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 5px;
    font-size: small;
    padding-left: 10px;
    padding-top: 4px
}

/*CREAR CUSTOMER*/
.card {
    background-color: #376080; /* Cambia el color de fondo de la tarjeta al azul deseado */
    color: #fff; /* Cambia el color del texto dentro de la tarjeta */
    border: 1px solid #007bff; /* Opcional: Añade un borde alrededor de la tarjeta */
}

.form-control {
    background-color: #fff; /* Cambia el color de fondo del campo de entrada */
    color: #495057; /* Cambia el color del texto dentro del campo de entrada */
}

.btn-success {
    background-color: #28a745; /* Cambia el color de fondo del botón de éxito */
    color: #fff; /* Cambia el color del texto dentro del botón */
}


